<div class="jumbotron container-fluid"> 
      <nav class="navbar navbar-inverse always-open">
        <div class="navbar-header">
            <h1>{{title}}
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
              </button>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="viewBatch">Home</a></li>
                    <li><a href="searchTrainee">Trainees</a></li>
                    <li><a href="taskPage">Tasks</a></li>
                </ul>
              </div>
            </h1>
        </div>      
      </nav>  
  </div>