
<div class="row">
  <h3 class="text-center">Add Task</h3>
  <div class="col-lg-4 form-group"> 
    <input type="text" class="form-control" id="taskId" #taskId placeholder="Task ID">
    <input type="text" class="form-control" id="courseId" #courseId placeholder="Course ID">
    <input type="text" class="form-control" id="batchId" #batchId placeholder="Batch ID">
    <input type="text" class="form-control" id="deadline" #deadline placeholder="Deadline">
    <input type="text" class="form-control" id="taskDescription" #taskDescription placeholder="Task Description">
    <button type="button" id="FullSearch" class="btn btn-default custom" (click)="addTask(taskId.value, courseId.value, batchId.value, deadline.value, taskDescription.value)">Add Task</button>
  </div>
  <div class="panel panel-primary col-lg-4">
    <div class="panel-body list-group">
      <ul *ngFor="let task of tasks"> <!--Iterate through trainees array in component code-->
        <li class="list-group-item">
          <button type="button" id="delete" class="btn btn-danger btn-xs" (click)="deleteTask(task.task_id)">X</button>
          {{task.task_id}}: ({{task.course_id}}) {{task.task_description}}
        </li>
      </ul>
    </div>
  </div>
</div>