<div class="jumbotron"> 
  <h1>
    Test of NodeJS and Angular
  </h1>
</div>
<h3>Add/Search Employee List</h3>
<div class="row">
  <div class="col-lg-4 form-group"> 
    <input type="text" class="form-control" id="searchTextIdFirst" #searchTextFirst placeholder="First Name">
    <button type="button" class="btn btn-default" (click)="getEmployeeByFirst(searchTextFirst.value)">First Name</button>
    <br>
    <input type="text" class="form-control" id="searchTextIdLast" #searchTextLast placeholder="Last Name">
    <button type="button" class="btn btn-default" (click)="getEmployeeByLast(searchTextLast.value)">Last Name</button>
    <br>
    <input type="text" class="form-control" id="searchTextIdCity" #searchTextCity placeholder="City">
    <button type="button" class="btn btn-default" (click)="getEmployeeByCity(searchTextCity.value)">City</button>
    <br>
    <input type="text" class="form-control" id="searchTextIdState" #searchTextState placeholder="State">
    <button type="button" class="btn btn-default" (click)="getEmployeeByState(searchTextState.value)">State</button>
    <br>
    <button type="button" id="AddEmployee" class="btn btn-default custom" (click)="addEmployee(searchTextFirst.value, searchTextLast.value, searchTextCity.value, searchTextState.value)">Add Employee</button>
    <button type="button" id="FullSearch" class="btn btn-default custom" (click)="getEmployeeByAll(searchTextFirst.value, searchTextLast.value, searchTextCity.value, searchTextState.value)">Full Criteria Search</button>
    <button type="button" id="AllEmployees" class="btn btn-default custom" (click)="getEmployees()">All Employees</button>
  </div>
  <div class="panel panel-primary col-lg-8">
    <div class="panel-body list-group">
      <ul *ngFor="let emp of employees">
        <li class="list-group-item">
          <button type="button" id="delete" class="btn btn-danger btn-xs" (click)="deleteEmployee(emp._id)">X</button>
          {{emp.firstname}} {{emp.lastname}}: {{emp.city}}, {{emp.state}}
        </li>
      </ul>
    </div>
  </div>
</div>